body {
     
}

.main {
    
}

.secondary-c {
}

.main-c {
    width: 430 px;
}

.nav {
}

.content {
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: stretch;
   
}

.main-text {
    
    background-color: palegreen;
}

.main-link {
    /*background-image: url('../img/cabecera.jpg');*/
    background-size: cover;
    background-color: paleturquoise;
}

.table-text {
   
}

.links-ul {

}

#main {
}

footer {
}