body {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
}

.main {
}

.secondary-c {
    background-color: aquamarine;
    width: 340px;
    height: 100%;
}

.main-c {
    
}

.nav {
}

.content {
}

.main-text {
}

.main-link {
}

#main {
    width: 770px;
    min-height: 80%;
    background-color: lightseagreen;
}

footer {
}

.navi-li {
    color: black;
    background-color: darkgrey;
    text-decoration: none;
}

.navi-ul {
    color: black;
    background-color: darkgrey;
    text-decoration: none;

}

.navi-li:hover{
    color: white;
    background-color: grey;
    text-decoration: none;
    width: 340px;
}